<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <meta http-equiv="refresh" content="30"/> -->
    <title>Anonymous Feedback</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom page CSS -->
    <link href="/css/app/admin.css" rel="stylesheet">
    
</head>

<body class="homepage">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/img/sme.png" width="30" height="30" alt="">
                Anonymous Feedback Tool
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Admin
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-1 eventcontainer">
                <div class="col-md-8 float-left">
                    <h4 class="m-0 text eventfont">On-Going Events</h6>
                </div>
                <div class="card-body scroll">
                    <% eventList.forEach(function(event) { %>
                    <div class="card">
                        <!-- <div class="card-body"> -->
                            <div class="row card-body">
                                <div class="row card-body col-md-10"><%= event.eventName %></div>
                                <!-- <div class="row card-body col-md-8"></div> -->
                                <div class=" float-right">
                                    <button type="button"
                                        class="btn btn-primary join"
                                        data-id="<%= event._id %>">
                                        Join
                                    </button>
                                    <button type="button"
                                    class="btn btn-danger delete"
                                    data-id="<%= event._id %>">
                                    Delete
                                </button>
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                    <% }); %>

                </div>
            </div>
        </div>

        <div class="col-lg-6 text-center startevent">
            <div>                 
                <h1 class="header eventfont ">Start Your Event</h1>
                <br>
                <input id="eventName" type="text" name="eventName" placeholder="Enter Event Name..." required>
                <button class="btn btn-primary" onClick = "startEvent(event)"> Start </button>
            </div>
        </div>
    </div>

    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/app/admin.js"></script>

</body>

</html>